.post-img-container > img {
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

.loading-image {
    width: calc(100% - 20px);
    padding: calc((100% - 20px) * var(--height) / var(--width)) 10px 0 10px;
    position: relative;
    display: inline-block;
}
.loading-image > .loading {
    position: absolute;
    width: calc(100% - 20px);
    transform: translateY(-100%);
}

.name {
    font-size: 2em;
    margin: 0;
}

.date {
    font-size: 1.25em;
    margin: 0;
}

.series-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em 0;
}

.series-list .banner {
    max-height: 55px;
    margin: 0px 10px;
    width: 175px;
}

.series-list .banner img {
    max-height: 55px;
    margin: 0px 10px;
    width: 175px;
}

.series-list .banner .loading {
    display: inline-block;
    height: 55px;
    margin: 0px 10px;
    width: 175px;
    border-radius: 10px
}

.celebrity-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1em 0;
}

.celebrity-list a {
    color: initial;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2.5px 5px;
    background-color: white;
    margin: 5px 5px;
    font-size: .75em;
}