.calendar-graph {
    border: 1px solid lightgray;
    padding: 4px;
    display: flex;
    width: fit-content;
}

.calendar-week {
    display: flex;
    flex-direction: column;
}

.calendar-day {
    width: 10px;
    height: 10px;
    margin: 1px;
    border: 1px solid transparent;
}