#logo {
    max-width: 150px;
    border-radius: 50%;
}
#logo,
#title {
    padding: 0 10px;
}

#title {
    flex-grow: 1;
}

.main-header {
    display: flex;
    padding: 20px 10px;
    position: relative;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .main-header {
        flex-direction: column;
        align-items: center;
    }
}

#title > h1 {
    margin: 0;
}

.social {
    display: flex;
}

.social > a > img {
    padding: 5px;
    max-width: 30px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
}

@media (pointer: coarse) {
    #menu {
        display: none;
    }
}

#menu a,
#menu-button,
#menu-phone > * {
    color: initial;
    text-decoration: none;
    border: 4px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
}

#menu-icon {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

@media (pointer: coarse) {
    #menu-icon {
        display: flex;
        flex-wrap: wrap;
    }
}

#menu a {
    margin: 10px 10px;
}

.banner {
    max-width: 100%;
    max-height: 100px;
    margin: auto;
    display: block;
}

.sections {
    padding: 0 10px 10px;
}

footer {
    padding: 10px;
    text-align: center;
}

#menu-phone {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, .90);
    padding: 10px;
    overflow-y: auto;
}

#menu-phone > * {
    display: block;
    margin: 10px auto;
    max-width: calc(var(--body-width)/2);
    text-align: center;
}

#menu-close {
    display: table;
    border: none;
    background: none;
    font-size: 2em;
}

#menu-button {
    font-size: 1.5em;
}

hr {
    border: 2px solid black;
    border-radius: 2px;
}

.collapser {
    cursor: pointer;
}

.collapser > span {
    display: inline-block;
    animation: collapse .5s ease forwards;
}

.show > .collapser > span {
    animation: uncollapse .5s ease forwards;
}

@keyframes uncollapse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes collapse {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}