@font-face {
  font-family: ComicTypo;
  src: url('./comic_typo.ttf');
}
* {
  --body-width: 900px;
}
body {
  font-family: ComicTypo;
  max-width: var(--body-width);
  margin: 0 auto;
  font-size: 1.5em;
  background-color: lightgray;
}

#root {
  background-color: rgba(255, 255, 255, .90);
  padding: 10px;
}

h1 {
  font-weight: initial;
  font-size: 2em;
}

.section-title {
  text-align: center;
}
