.social-link {
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    --link-color: black;
}

.social-link img {
    max-width: 30px;
    max-height: 30px;
}

.social-link .loading {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}